.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container {
    width: 400px;
    margin: auto;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    position: relative;
    padding-left: 0 rem;
    padding-right: 0 rem;
}

